serenity.timeout = 30
serenity.logging = NORMAL

serenity.use.unique.browser = true

serenity.project.name = Low Income Benefits
serenity.requirements.dir = src/test/resources/features/

ie {
  capabilities.acceptSslCerts = true
  capabilities.handlesAlerts = true
  capabilities.ignoreProtectedModeSettings = true
  capabilities.requireWindowFocus = true
  capabilities.NATIVE_EVENTS = false
  capabilities.INTRODUCE_FLAKINESS_BY_IGNORING_SECURITY_DOMAINS = false
  capabilities.browserstack.local = true
  capabilities.browserstack.localIdentifier = "zalenium"
}

#chrome.capabilities.browserstack.local = true
#chrome.capabilities.browserstack.localIdentifier = "zalenium"
chrome.capabilities.idleTimeout = 300
chrome.switches = "--homepage=about:blank,--no-first-run,--no-sandbox,--disable-dev-shm-usage,--ignore-certificate-errors"

webdriver {
  timeouts.implicitlywait = 25000
  driver = chrome
}

drivers {
  windows {
    webdriver.chrome.driver = "src/test/resources/webdriver/windows/chromedriver.exe"
    webdriver.gecko.driver = "src/test/resources/webdriver/windows/geckodriver.exe"
    webdriver.ie.driver = "src/test/resources/webdriver/windows/IEDriverServer.exe"
  }
  mac {
    webdriver.chrome.driver = "src/test/resources/webdriver/mac/chromedriver"
    webdriver.gecko.driver = "src/test/resources/webdriver/mac/geckodriver"
  }
  linux {
    webdriver.chrome.driver = "src/test/resources/webdriver/linux/chromedriver"
    webdriver.gecko.driver = "src/test/resources/webdriver/linux/geckodriver"
  }
}

environments {
  default {
    webdriver.base.url = "https://buildspmapp01.dev13.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "http://aem01.dev13.ssdbpp.scotgov-dt.local:8081/content/forms/af/develop/auth-edits---bsg-form-with-fragments.html?wcmmode=disabled"
    db.url = "jdbc:db2://spmdb.dev13.ssdbpp.scotgov-dt.local:50000/SPM_LIB1"
    db.user = "db2id13"
    db.password = "password"
    db.schema = "SPMAPP."
    benefitName = ["BSG", "FEA"]
    doc.upload.url="https://sg-spmdev-ssd-doc-upload-form.s3.eu-west-2.amazonaws.com/index.html"
  }

  dev13 {
    webdriver.base.url = "https://buildspmapp01.dev13.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
  }

  dev21 {
    webdriver.base.url = "https://spmweb.dev21.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    db.url = "jdbc:db2://spmdb01.dev21.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "db2id21"
    db.password = "password"
    db.schema = "SPMAPP."
    benefitName = ["BSG", "FEA", "YCG"]
    aem.url = "http://aem01.dev21.ssdbpp.scotgov-dt.local:8081/content/forms/af/develop/auth-edits---bsg-form-with-fragments.html?wcmmode=disabled"
    serverName = "spmapp01.dev21.ssdbpp.scotgov-dt.internal"
  }

  dev20 {
    webdriver.base.url = "https://spmapp.dev20.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    db.url="jdbc:db2://spmdb01.dev20.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user="db2id20"
    db.password = "password"
    db.schema = "SPMAPP."
    benefitName = ["BSG","FEA","YCG"]
    serverName = "spmapp01.dev20.ssdbpp.scotgov-dt.internal"
    aem.url = "https://aempublish.dev20.ssdbpp.scotgov-dt.cloud/young-carer-grant#eligibility_speedbump"
  }

  dev14 {
    webdriver.base.url = "https://spmapp01.dev14.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
  }

  test01 {
    webdriver.base.url = "https://spm.test07.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "http://aem.test07.ssdbpp.scotgov-dt.local:8081/content/dam/formsanddocuments/develop/bsg-phase-2-form/jcr:content?wcmmode=disabled"
    db.url = "jdbc:db2://spmdb.test01.ssdbpp.scotgov-dt.local:50000/SPM_LIB1"
    db.user = "db2it01"
    db.schema = "SPMAPP."
    serverName = "spm.test07.ssdbpp.scotgov-dt.local"
  }

  test02 {
    webdriver.base.url = "https://spm.test02.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "https://aempublish.test02.ssdbpp.scotgov-dt.cloud/funeral-support-payment"
    db.url = "jdbc:db2://spmdb.test02.ssdbpp.scotgov-dt.local:50000/SPM_LIB1"
    db.user = "db2it02"
    db.schema = "SPMAPP."
    serverName = "spm.test02.ssdbpp.scotgov-dt.internal"
  }

  test04 {
    webdriver.base.url = "https://spm.test04.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "http://aem.test04.ssdbpp.scotgov-dt.local:8081/content/dam/formsanddocuments/develop/bsg-phase-2-form/jcr:content?wcmmode=disabled"
    db.url = "jdbc:db2://spmdb.test04.ssdbpp.scotgov-dt.local:50000/SPM_LIB1"
    db.user = "db2it04"
    db.schema = "SPMAPP."
    benefitName = "BSF"
    serverName = "spm.test04.ssdbpp.scotgov-dt.local"
  }

  test06 {
    webdriver.base.url = "https://spm.test06.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "https://aem.test06.ssdbpp.scotgov-dt.cloud/beststartgrant#tell_us_why_you_are_applying"
    db.url = "jdbc:db2://spmdb.test06.ssdbpp.scotgov-dt.local:50000/SPM_LIB1"
    db.user = "db2it06"
    db.schema = "SPMAPP."
    benefitName = "BSF"
    serverName = "spm.test06.ssdbpp.scotgov-dt.local"
  }

  test07 {
    webdriver.base.url = "https://spm.test07.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "http://aem.test07.ssdbpp.scotgov-dt.local:8081/content/dam/formsanddocuments/develop/bsg-phase-2-form/jcr:content?wcmmode=disabled"
    db.url = "jdbc:db2://spmdb.test07.ssdbpp.scotgov-dt.local:50000/SPM_LIB1"
    db.user = "db2it07"
    db.schema = ""
    serverName = "spm.test07.ssdbpp.scotgov-dt.local"
  }

  test10 {
    webdriver.base.url = "https://spmapp01.test10.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "https://aem.test10.ssdbpp.scotgov-dt.cloud/beststartgrant#tell_us_why_you_are_applying"
    db.url = "jdbc:db2://spmdb.test10.ssdbpp.scotgov-dt.local:50000/SPM_LIB1"
    db.user = "db2it10"
    db.schema = "SPMAPP."
    benefitName = "BSF"
    serverName = "spm.test10.ssdbpp.scotgov-dt.local"
  }

  test11 {
    webdriver.base.url = "https://spmapp.test11.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "http://aemtest11.scotgov-dt.local:8081/content/dam/formsanddocuments/develop/previous-sprints/sprint-9/jcr:content?wcmmode=disabled"
    db.url = "jdbc:db2://spmdb.test11.ssdbpp.scotgov-dt.local:50000/SPM_LIB1"
    db.user = "db2it11"
    benefitName = ["BSG", "FEA"]
    serverName = "spmapp.test11.ssdbpp.scotgov-dt.local"
  }

  test12 {
    webdriver.base.url = "https://spmapp.test12.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "http://aemtest12.scotgov-dt.local:8081/content/dam/formsanddocuments/develop/previous-sprints/sprint-9/jcr:content?wcmmode=disabled"
    db.url = "jdbc:db2://spmdb.test12.ssdbpp.scotgov-dt.local:50000/SPM_LIB1"
    db.user = "db2it12"
    serverName = "spmapp.test12.ssdbpp.scotgov-dt.local:10144"
  }

  test13 {
    webdriver.base.url = "https://spmapp01.test13.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "https://aem.test13.ssdbpp.scotgov-dt.cloud/beststartgrant#tell_us_why_you_are_applying"
    db.url = "jdbc:db2://spmdb.test13.ssdbpp.scotgov-dt.local:50000/SPM_LIB1"
    db.user = "db2it13"
    benefitName = "BSG"
    serverName = "spmapp01.test13.ssdbpp.scotgov-dt.local"
  }

  test14 {
    webdriver.base.url = "https://spmapp01.test14.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "http://aemtest14.scotgov-dt.local:8081/content/dam/formsanddocuments/develop/previous-sprints/sprint-9/jcr:content?wcmmode=disabled"
    db.url = "jdbc:db2://spmdb.test14.ssdbpp.scotgov-dt.local:50000/SPM_LIB1"
    db.user = "db2it14"
    benefitName = ["BSG", "FEA", "YCG"]
    serverName = "spmapp01.test14.ssdbpp.scotgov-dt.local"
  }
  dev21 {
    webdriver.base.url = "https://spmweb.dev21.ssdbpp.scotgov-dt.cloud/Curam/"
    aem.url = "https://aempublish.dev21.ssdbpp.scotgov-dt.cloud/content/dam/formsanddocuments/develop/young-carer-grant/jcr:content#eligibility_speedbump"
    db.url = "jdbc:db2://spmdb01.dev21.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "db2id21"
    benefitName = ["BSG", "FEA", "YCG"]
    serverName = "spmapp01.dev21.ssdbpp.scotgov-dt.internal"
  }

  test21 {
    webdriver.base.url = "https://spmweb.test21.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    aem.url = "https://aempublish.test21.ssdbpp.scotgov-dt.cloud/help-supporting-your-family.html"
    db.url = "jdbc:db2://spmdb.test21.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "spmapp"
    benefitName = ["BSG", "FEA", "YCG"]
    serverName = "spmapp01.test21.ssdbpp.scotgov-dt.internal"
  }

  test22 {
    webdriver.base.url = "https://spmweb.test22.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    aem.url = "https://aempublish.test22.ssdbpp.scotgov-dt.cloud/content/dam/formsanddocuments/develop/fea-application-form/jcr:content#eligibility"
    db.url = "jdbc:db2://spmdb.test22.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "spmapp"
    benefitName = ["BSG", "FEA", "YCG"]
    serverName = "spmapp01.test22.ssdbpp.scotgov-dt.internal"
  }

  test28 {
    webdriver.base.url = "https://spmweb.test28.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    aem.url = "https://aempublish.test28.ssdbpp.scotgov-dt.cloud/help-supporting-your-family.html"
    db.url = "jdbc:db2://spmdb.test28.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "spmapp"
    benefitName = ["BSG", "FEA", "YCG"]
    serverName = "spmapp01.test28.ssdbpp.scotgov-dt.internal"
  }

  test29 {
    webdriver.base.url = "https://spmweb.test29.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    aem.url = "https://aempublish.test29.ssdbpp.scotgov-dt.cloud/beststartgrant"
    db.url = "jdbc:db2://spmdb.test29.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "spmapp"
    benefitName = ["BSG", "FEA"]
    serverName = "spmapp01.test29.ssdbpp.scotgov-dt.internal"
  }

  test30 {
    webdriver.base.url = "https://spmweb.test30.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    aem.url = "https://aempublish.test30.ssdbpp.scotgov-dt.cloud/youngcarergrant#eligibility_speedbump"
    db.url = "jdbc:db2://spmdb01.test30.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "db2it30"
    benefitName = ["BSG", "FEA", "YCG"]
    serverName = "spmapp01.test30.ssdbpp.scotgov-dt.internal"
  }

  test31 {
    webdriver.base.url = "https://spmweb.test31.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    aem.url = "https://aempublish.test31.ssdbpp.scotgov-dt.cloud/funeral-support-payment"
    db.url = "jdbc:db2://spmdb01.test31.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "db2it31"
    benefitName = ["BSG", "FEA", "YCG"]
    serverName = "spmapp01.test31.ssdbpp.scotgov-dt.internal"
  }

  test32 {
    webdriver.base.url = "https://spmweb.jg-integration.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    aem.url = "https://aempublish.test32.ssdbpp.scotgov-dt.cloud/jobgrant"
    db.url = "jdbc:db2://spmdb01.test32.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "db2it32"
    benefitName = ["BSG", "FEA", "YCG"]
    serverName = "spmapp01.test32.ssdbpp.scotgov-dt.internal"
  }

  test33 {
      webdriver.base.url = "https://spmweb.jg-demo.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
      aem.url = "https://aempublish.test33.ssdbpp.scotgov-dt.cloud/jobgrant"
      db.url = "jdbc:db2://spmdb01.test33.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
      db.user = "db2it33"
      benefitName = ["BSG", "FEA", "YCG"]
      serverName = "spmapp01.test33.ssdbpp.scotgov-dt.internal"
    }

  test34 {
    webdriver.base.url = "https://spmweb.test34.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    aem.url = "https://aempublish.jg-automation.ssdbpp.scotgov-dt.cloud/beststartgrant"
    db.url = "jdbc:db2://spmdb01.test34.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "db2it34"
    benefitName = ["BSG", "FEA", "YCG", "JG"]
    serverName = "spmapp01.test34.ssdbpp.scotgov-dt.internal"
  }
  test35 {
    webdriver.base.url = "https://spmweb.jg-manual.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    aem.url = "https://aempublish.jg-automation.ssdbpp.scotgov-dt.cloud/beststartgrant"
    db.url = "jdbc:db2://spmdb01.test35.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "db2it35"
    benefitName = ["BSG", "FEA", "YCG", "JG"]
    serverName = "spmapp01.test35.ssdbpp.scotgov-dt.internal"
  }

  test36 {
    webdriver.base.url = "https://spmweb.test36.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    aem.url = "https://aempublish.test36.ssdbpp.scotgov-dt.cloud/content/dam/formsanddocuments/develop/young-carer-grant/jcr:content#eligibility_speedbump"
    db.url = "jdbc:db2://spmdb01.test36.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "db2it36"
    benefitName = ["BSG", "FEA", "YCG"]
    serverName = "spmapp01.test36.ssdbpp.scotgov-dt.internal"
  }

  test39 {
    webdriver.base.url = "https://spmweb.test39.ssdbpp.scotgov-dt.cloud/Curam/logon.jsp"
    aem.url = "https://aempublish.test39.ssdbpp.scotgov-dt.cloud/content/dam/formsanddocuments/develop/young-carer-grant/jcr:content#eligibility_speedbump"
    db.url = "jdbc:db2://spmdb01.test39.ssdbpp.scotgov-dt.internal:50000/SPM_LIB1"
    db.user = "db2it39"
    benefitName = ["BSG", "FEA", "YCG"]
    serverName = "spmapp01.test39.ssdbpp.scotgov-dt.internal"
  }

  dev {
  webdriver.base.url = "https://spmweb.dev.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
  aem.url = "http://aemdev.scotgov-dt.local:8081/content/dam/formsanddocuments/develop/previous-sprints/sprint-9/jcr:content?wcmmode=disabled"
}

  nonprod {
    webdriver.base.url = "https://spmweb.nonprod.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "http://aemnonprod.scotgov-dt.local:8081/content/dam/formsanddocuments/develop/previous-sprints/sprint-9/jcr:content?wcmmode=disabled"
  }
  preprod03 {
    webdriver.base.url = "https://spmweb.preprod03.ssdbpp.scotgov-dt.cloud/Curam/"
    aem.url = "https://aem.preprod03.ssdbpp.scotgov-dt.cloud/beststartgrant"
    db.url = "jdbc:db2://spmdb.preprod03.ssdbpp.scotgov-dt.local:50000/SPM_LIB1"
    db.user = "db2ipp03"
    benefitName = ["BSG", "FEA"]
  }
  prod {
    webdriver.base.url = "https://spmweb.prod.ssdbpp.scotgov-dt.local:10144/Curam/logon.jsp"
    aem.url = "http://aemprod.scotgov-dt.local:8081/content/dam/formsanddocuments/develop/previous-sprints/sprint-9/jcr:content?wcmmode=disabled"
  }

  devwave2 {
    webdriver.base.url = "https://spmapp01.dev09.ssdbpp.spm.dev.sss.int:10144/Curam/"
  }
  dynamic {
    db.schema = "SPMAPP."
    benefitName = ["BSG","FEA"]
  }
  all {
    doc.page = "#{doc.upload.url}"
    spm.page = "#{webdriver.base.url}"
    aem.page = "#{aem.url}"
    fea.aem.page= "#{fea.aem.url}"
    bsg.aem.page= "#{bsg.aem.url}"
    db.uri   = "#{db.url}"
    db.userName   = "#{db.user}"
    db.passWord   = "#{db.password}"
    db.schemaName = "#{db.schema}"
    spm.benefitName = "#{benefitName}"
    unix.server = "#{serverName}"
  }

}
